venv
.vscode
.idea
__pycache__

.env
*.pyc
*.json
qdrant_storage
*.csv
*.zip
*.log
.DS_Store
redis-local-data
*.rdb
demo-*.yaml
/datasets/scrapers/vehicle-dataset/data/
/datasets/scrapers/laptop-dataset/data/
/datasets/preprocessors/data/
